.idea/
__pycache__/
*.egg-info
*.pyc
build/
dist/
telemator_export/local_db_settings.py
/.imported_roles
/ansible/.imported_roles
local_settings.py
.vscode/
/navtelemator/scripts/errors.txt
/navtelemator/scripts/in_telemator.txt
/navtelemator/scripts/needs_to_be_updated.txt
/navtelemator/scripts/not_in_telemator.txt
