<table>
    <tr>
        <th>Cable</th>
        <th>End A</th>
        <th>End B</th>
        <th>Reference</th>
    </tr>
    {% for cable in cables %}
    <tr>
        <td><a href="{{ cable.get_absolute_url }}">{{cable.Cable}}</a></td>
        {% if cable.end_a.End|lower == roomid %}
        <td>{{cable.end_a.End}}</td>
        <td><a href="{{ cable.end_b.get_absolute_url }}">{{cable.end_b.End}}</a></td>
        {% else %}
                <td><a href="{{ cable.end_a.get_absolute_url }}">{{cable.end_a.End}}</a></td>
                <td>{{cable.end_b.End}}</td>
        {% endif %}
        <td>{{cable.reference}}</td>
    </tr>
    {% endfor %}
</table>
