{% extends "base.html" %}
{% block base_content %}
<table>
      <tr>
          <th>Name</th>
          <td>{{ cable.name }}</td>
      </tr>
          <tr>
          <th>Reference</th>
          <td>{{ cable.alias }}</td>
      </tr>
      <tr>
          <th>End A</th>
          <td><a href="{{ cable.end_a.get_absolute_url }}">{{cable.end_a.name}}</a></td>
      </tr>
      <tr>
          <th>End B</th>
          <td><a href="{{ cable.end_b.get_absolute_url }}">{{cable.end_b.name}}</a></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td><a href="{{ cable.owner.get_absolute_url }}">{{ cable.owner.name }}</a></td>
      </tr>
    <tr>
        <th>Comment</th>
        <td>{{cable.comment}}</td>
    </tr>
    </table>
{% endblock %}
