{% extends "base.html" %}
{% block base_content %}
<table>
      <tr>
          <th>Name</th>
          <td>{{ cable.id }}</td>
      </tr>
      <tr>
          <th>End A</th>
          <td>{{ cable.end_a.id }}</td>
      </tr>
      <tr>
          <th>End B</th>
          <td>
              {{ cable.end_b.id }}
          </td>
      </tr>
      <tr>
        <th>Owner</th>
        <td>
            <a href="{{ cable.owner.get_absolute_url }}">
                {{ cable.owner.name }}
            </a>
        </td>
      </tr>
    </table>
{% endblock %}
