{% extends "base.html" %}
{% block base_content %}
<h3>{{circuit.name}}</h3>
<table>
    <tr>
        <th>Owner</th>
        <td><a href="{{ cable.owner.get_absolute_url }}">{{ circuit.owner.name }}</a></td>
    </tr>
    <tr>
        <th>Reference</th>
        <td>{{circuit.alias}}</td>
    </tr>
</table>

<h5>List of customers</h5>
<table>
    <tr>
        <th>Customer</th>
        <th>Name</th>
    </tr>
    {% for customer_circuit in customer_circuits %}
    <tr>
        <td><a href="{{ customer_circuit.customer.get_absolute_url }}">{{customer_circuit.customer}}</a></td>
        <td>{{customer_circuit.customer.name}}</td>
    </tr>
    {% endfor %}
</table>

<h5>List of steps in circuit</h5>
<table>
    <tr>
        <th>End</th>
        <th>Step</th>
    </tr>
    {% for circuit_detail in circuit_details %}
    <tr>
        <td><a href="{{ circuit_detail.end.get_absolute_url }}">{{circuit_detail.end}}</a></td>
        <td>{{circuit_detail.index}}</td>
    </tr>
    {% endfor %}
</table>
<h5>List of cables in circuit</h5>
<table>
    <tr>
        <th>Cable</th>
        <th>Reference</th>
    </tr>
    {% for routingcable in routingcables %}
    <tr>
        <td><a href="{{ routingcable.cable.get_absolute_url }}">{{routingcable.cable}}</a></td>
        <td>{{routingcable.cable.alias}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}