{% extends "base.html" %}
{% block base_content %}
<table>
    <tr>
        <th>Name</th>
        <td>{{ owner.name }}</td>
    </tr>
    <tr>
        <th>ID</th>
        <td>{{ owner.owner }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ owner.type }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ owner.email }}</td>
      </tr>
    <tr>
        <th>KIND</th>
        <td><a href="https://kind.cs.uninett.no/org/edit_org.html?id={{owner.owner}};">Link</a> </td>
    </tr>
</table>
{% endblock %}