LOCAL_SETTINGS = True
from nav.django.settings import *

TEMPLATE_LOADERS = (
    'django.template.loaders.app_directories.Loader',
    'django.template.loaders.filesystem.Loader'
)

INSTALLED_APPS += (
    'navtelemator',
)
    
# Telemator search providers
SEARCHPROVIDERS += (
    'navtelemator.search.CableSearchProvider',
    'navtelemator.search.CircuitSearchProvider',
    'navtelemator.search.OwnerSearchProvider',
)

### Telemator Config ###
# MS SQL Server settings
TM_HOST = '{{ tm_host }}'
TM_PORT = '{{ tm_port }}'
TM_USER = '{{ tm_user }}'
TM_PASSWORD = '{{ tm_password }}'

# Name of Telemator database to use
TM_DBNAME = '{{ tm_dbname }}'

# Given an org id, use this URL to link to a CRM/CMDB entry
TM_CMDB_ORGBYID_URL = '{{ tm_cmdb_orgbyid_url }}'

# Given an org name, use this URL to link to a CRM/CMDB entry
TM_CMDB_ORGBYNAME_URL = '{{ tm_cmdb_orgbyname_url }}'
