{% extends "base.html" %}
{% block base_content %}
<table>
    <tr>
        <th>Name</th>
        <td>{{ cable.Cable }}</td>
    </tr>
    <tr>
        <th>Reference</th>
        <td>{{ cable.reference }}</td>
    </tr>
    <tr>
        <th>End A</th>
        <td><a href="{{ cable.end_a.get_absolute_url }}">{{cable.end_a.End}}</a></td>
    </tr>
    <tr>
        <th>End B</th>
        <td><a href="{{ cable.end_b.get_absolute_url }}">{{cable.end_b.End}}</a></td>
    </tr>
    <tr>
        <th>Owner</th>
        <td><a href="{{ cable.owner.get_absolute_url }}">{{ cable.owner.Name }}</a></td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>{{cable.RemarkM}}</td>
    </tr>
</table>

{% if routingcables %}
<h5>Circuits on this Cable</h5>
<table>
    <tr>
        <th>Circuit</th>
        <th>Reference</th>
    </tr>
    {% for routingcable in routingcables %}
    <tr>
        <td><a href="{{ routingcable.circuit.get_absolute_url }}">{{routingcable.Circuit}}</a></td>
        <td>{{routingcable.circuit.Reference}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}