{% extends "base.html" %}
{% block base_content %}
{% include "telemator/database_version.html" %}


    <!--beginning of linecard-->

<style>
    .linecard td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin: 0 !important;
    }
    .linecard tr:nth-child(even){
        background-color: transparent !important;
    }
    .linecard tr:nth-child(odd){
        background-color: transparent !important;
    }
</style>

<div style="position: absolute; width: 60%; right: 10px">
<h3>Linecard</h3>
<table class="linecard">


    <!--start netbox-->
    {% if netbox %}
    <tr>
        <td style="text-align: right">[{{netbox.2}}]</td>
        <td>S</td>
        <td><a href="{{ netbox.0.end.get_absolute_url }}">{{netbox.0.End}}</a></td>
        <td>{{netbox.0.Card}}</td>
        <td>{{netbox.0.Label}}</td>
    </tr>
    {% endif %}

    <!--linecard-->
    {% if cables %}
    {% for cable in cables %}
    {% if cable.first_cable and not cable.first_slice %}
    <tr style="">
        <td>&nbsp;</td>
    </tr>
    <tr style="">
        <td>&nbsp;</td>
        <td>?</td>
    </tr>
    <tr style="">
        <td>&nbsp;</td>
    </tr>
    {% endif %}
    {% if not cable.spliced_prev %}
    <tr>
        <td style="text-align: right">{{cable.prev_end}}</td>
        <td>&#9486;</td>
        <td>{{cable.prev_odf}}</td>
        <td>{{cable.connector_prev}}</td>
        <td>{{cable.prev_odf_type}}</td>
    </tr>
    {% endif %}
    {% if cable.spliced_prev %}
        <td style="text-align: right">{{cable.prev_end}}</td>
        <td>&#9670</td>
        <td>Fiberskjøt</td>
    {% endif %}

    <tr>
        <td></td>
        <td>&#9475;</td>
        <td><a href="{{ cable.cable.get_absolute_url }}">{{cable.cable.Cable}}</a></td>
    </tr>
    <tr>
        <td></td>
        <td>&#9475;</td>
        <td>
        {% for port in cable.ports %}
            {{ port.Core }} {% if not forloop.last %}+{% endif %}
        {% endfor %}
        </td>
    </tr>
    {% if not cable.spliced_next %}
    <tr>
        <td style="text-align: right">{{cable.next_end}}</td>
        <td>&#9494;</td>
        <td>{{cable.next_odf}}</td>
        <td>{{cable.connector_next}}</td>
        <td>{{cable.next_odf_type}}</td>
    </tr>
    {% endif %}
    {% endfor %}
{% endif %}


    <!--end netbox-->
    {% if netbox %}
    <tr>
        <td style="text-align: right">[{{netbox.3}}]</td>
        <td>E</td>
        <td><a href="{{ netbox.1.end.get_absolute_url }}">{{netbox.1.End}}</a></td>
        <td>{{netbox.1.Card}}</td>
        <td>{{netbox.1.Label}}</td>
    </tr>
    {% endif %}
</table>
</div>
    <!--end of linecard-->


<h3>Circuit: {{circuit.Circuit}}</h3>
<table>
    <tr>
        <th>Owner</th>
        <td><a href="{{ circuit.owner.get_absolute_url }}">{{ circuit.owner.Owner }}</a></td>
    </tr>
    <tr>
        <th>Reference</th>
        <td>{{circuit.Reference}}</td>
    </tr>
</table>

{% if circuit.customers %}
<h5>List of customers</h5>
<table>
    <tr>
        <th>Customer</th>
        <th>Name</th>
    </tr>
    {% for customer in circuit.customers %}
    <tr>
        <td><a href="{{ customer.customer.get_absolute_url }}">{{customer.customer.CustId}}</a></td>
        <td>{{customer.customer.Name}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if circuit_details %}
<h5>List of steps in circuit</h5>
<table>
    <tr>
        <th>Step</th>
        <th>End</th>
        <th>Interface ID</th>
        <th>Interface name</th>
    </tr>
    {% for circuit_detail in circuit_details %}
    <tr>
        <td>{{circuit_detail.index}}</td>
        <td><a href="{{ circuit_detail.name.get_absolute_url }}">{{circuit_detail.name}}</a></td>
        <td>{{circuit_detail.interface_id}}</td>
        <td>{{circuit_detail.interface_name}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% if cables %}
<h5>List of cables in circuit</h5>
<table>
    <tr>
        <th>Cable</th>
        <th>Start/End</th>
    </tr>
    {% for cable in cables %}
    <tr>
        <td><a href="{{ cable.cable.get_absolute_url }}">{{cable.cable.Cable}}</a></td>
        <td>{{cable.prev_end}}<br>{{cable.next_end}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if connections %}
<h5>List of netboxes in circuit</h5>
<table>
    <tr>
        <th>Netbox</th>
        <th>Port</th>
    </tr>
    {% for connection in connections %}
    <tr>
        <td><a href="{{ connection.1.end.get_absolute_url }}">{{connection.1.End}}</a></td>
        <td><a href="{% url 'ipdevinfo-interface-details-by-name' connection.1.End|lower connection.1.Label|lower %}">
            {{connection.1.Label}}
        </a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div style="margin-bottom: 300px">


</div>

{% endblock %}
