{% extends "base.html" %}
{% block base_content %}
{% include "telemator/database_version.html" %}



<div style="position: absolute; width: 60%; right: 20px">
<h3>Linecard</h3>
<table>
    {% if netbox %}
    <tr>
        <td>S___[{{netbox.2}}]</td>
        <td><a href="{{ netbox.0.end.get_absolute_url }}">{{netbox.0.End}}</a></td>
        <td>{{netbox.0.Card}}</td>
        <td>{{netbox.0.Label}}</td>
    </tr>
    {% endif %}

    {% if cables.0 or cables.1 or cables.2 %}
    {% for cable in cables.0 %}
    <tr>
        <td> * ___[{{cable.1.0}}]</td>
        <td><a href="{{ cable.0.get_absolute_url }}">{{cable.0.Cable}}</a></td>
    </tr>
    <tr>
        <td>|__{{cable.1.3}}/{{cable.1.4}}</td>
    </tr>
    {% endfor %}
    {% if cables.2 %}
    <tr>
        <td></td>

    </tr>
    {% endif %}
    {% for cable in cables.2 %}
    <tr>
        <td bgcolor="#ff9999"> *____[{{cable.1.0}}]</td>
        <td bgcolor="#ff9999"><a href="{{ cable.0.get_absolute_url }}">{{cable.0.Cable}}</a></td>
    </tr>
    <tr>
        <td bgcolor="#ff9999">|__{{cable.1.3}}/{{cable.1.4}}</td>
    </tr>
    {% endfor %}
    {% if cables.2 %}
    <tr>
        <td></td>

    </tr>
    {% endif %}
    {% for cable in cables.1 %}
    <tr>
        <td> *___[{{cable.1.0}}]</td>
        <td><a href="{{ cable.0.get_absolute_url }}">{{cable.0.Cable}}</a></td>
    </tr>
    <tr>
        <td>|__{{cable.1.3}}/{{cable.1.4}}</td>
    </tr>
    {% endfor %}

{% endif %}

    {% if netbox %}
    <tr>
        <td>E___[{{netbox.3}}]</td>
        <td><a href="{{ netbox.1.end.get_absolute_url }}">{{netbox.1.End}}</a></td>
        <td>{{netbox.1.Card}}</td>
        <td>{{netbox.1.Label}}</td>
    </tr>
    {% endif %}
</table>
</div>


<h3>Circuit: {{circuit.Circuit}}</h3>
<table>
    <tr>
        <th>Owner</th>
        <td><a href="{{ circuit.owner.get_absolute_url }}">{{ circuit.owner.Owner }}</a></td>
    </tr>
    <tr>
        <th>Reference</th>
        <td>{{circuit.Reference}}</td>
    </tr>
</table>

{% if circuit.customers %}
<h5>List of customers</h5>
<table>
    <tr>
        <th>Customer</th>
        <th>Name</th>
    </tr>
    {% for customer in circuit.customers %}
    <tr>
        <td><a href="{{ customer.customer.get_absolute_url }}">{{customer.customer.CustId}}</a></td>
        <td>{{customer.customer.Name}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if circuit_details %}
<h5>List of steps in circuit</h5>
<table>
    <tr>
        <th>Step</th>
        <th>End</th>
        <th>Interface ID</th>
        <th>Interface name</th>
    </tr>
    {% for circuit_detail in circuit_details %}
    <tr>
        <td>{{circuit_detail.index}}</td>
        <td><a href="{{ circuit_detail.name.get_absolute_url }}">{{circuit_detail.name}}</a></td>
        <td>{{circuit_detail.interface_id}}</td>
        <td>{{circuit_detail.interface_name}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% if cables.0 or cables.1 or cables.2 %}
<h5>List of cables in circuit</h5>
<table>
    <tr>
        <th>Order</th>
        <th>Cable</th>
        <th>Start/End</th>
    </tr>
    {% for cable in cables.0 %}
    <tr>
        <td>{{cable.1.2}}</td>
        <td><a href="{{ cable.0.get_absolute_url }}">{{cable.0.Cable}}</a></td>
        <td>{{cable.1.0}}<br>{{cable.1.1}}</td>
    </tr>
    {% endfor %}
    {% if cables.2 %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endif %}
    {% for cable in cables.2 %}
    <tr>
        <td bgcolor="#ff9999">{{cable.1.2}}</td>
        <td bgcolor="#ff9999"><a href="{{ cable.0.get_absolute_url }}">{{cable.0.Cable}}</a></td>
        <td bgcolor="#ff9999">{{cable.1.0}}<br>{{cable.1.1}}</td>
    </tr>
    {% endfor %}
    {% if cables.2 %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endif %}
    {% for cable in cables.1 %}
    <tr>
        <td>{{cable.1.2}}</td>
        <td><a href="{{ cable.0.get_absolute_url }}">{{cable.0.Cable}}</a></td>
        <td>{{cable.1.0}}<br>{{cable.1.1}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if connections %}
<h5>List of netboxes in circuit</h5>
<table>
    <tr>
        <th>Netbox</th>
        <th>Port</th>
    </tr>
    {% for connection in connections %}
    <tr>
        <td><a href="{{ connection.1.end.get_absolute_url }}">{{connection.1.End}}</a></td>
        <td>{{connection.1.Label}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}



{% endblock %}