{% extends "base.html" %}
{% block base_content %}
<h3>{{circuit.Circuit}}</h3>
<table>
    <tr>
        <th>Owner</th>
        <td><a href="{{ circuit.owner.get_absolute_url }}">{{ circuit.owner.Owner }}</a></td>
    </tr>
    <tr>
        <th>Reference</th>
        <td>{{circuit.Reference}}</td>
    </tr>
</table>

{% if circuit.customers %}
<h5>List of customers</h5>
<table>
    <tr>
        <th>Customer</th>
        <th>Name</th>
    </tr>
    {% for customer in circuit.customers %}
    <tr>
        <td><a href="{{ customer.customer.get_absolute_url }}">{{customer.customer.CustId}}</a></td>
        <td>{{customer.customer.Name}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if circuit_details %}
<h5>List of steps in circuit</h5>
<table>
    <tr>
        <th>Step</th>
        <th>End</th>
        <th>Interface ID</th>
        <th>Interface name</th>
    </tr>
    {% for circuit_detail in circuit_details %}
    <tr>
        <td>{{circuit_detail.index}}</td>
        <td><a href="{{ circuit_detail.name.get_absolute_url }}">{{circuit_detail.name}}</a></td>
        <td>{{circuit_detail.interface_id}}</td>
        <td>{{circuit_detail.interface_name}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if routingcables %}
<h5>List of cables in circuit</h5>
<table>
    <tr>
        <th>Cable</th>
        <th>Reference</th>
    </tr>
    {% for routingcable in routingcables %}
    <tr>
        <td><a href="{{ routingcable.cable.get_absolute_url }}">{{routingcable.Cable}}</a></td>
        <td>{{routingcable.cable.reference}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if connections %}
<h5>List of netboxes in circuit</h5>
<table>
    <tr>
        <th>Netbox</th>
        <th>Port</th>
    </tr>
    {% for connection in connections %}
    <tr>
        <td><a href="{{ connection.1.end.get_absolute_url }}">{{connection.1.End}}</a></td>
        <td>{{connection.1.Label}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}