{% extends "base.html" %}
{% block base_content %}
{% include "telemator/database_version.html" %}

<h3>Customer: {{customer.Name}}</h3>
<table>
    <tr>
        <th>Name</th>
        <td>{{ customer.Name }}</td>
    </tr>
    <tr>
        <th>ID</th>
        <td>
          {% if cmdb_orgbyid_url %}
            <a href="{{ cmdb_orgbyid_url }}{{customer.CustId}}">{{ customer.CustId }}</a>
          {% else %}
            {{ customer.CustId }}
          {% endif %}
        </td>
    </tr>
    <tr>
        <th>Orgnr</th>
        <td><a href="http://w2.brreg.no/enhet/sok/detalj.jsp?orgnr={{ customer.OrgNum }}">{{ customer.OrgNum }}</a></td>
    </tr>
    <tr>
        <th>Department</th>
        <td>{{ customer.Department }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ customer.Addr2 }}</td>
    </tr>
</table>

{% if customer.circuits %}
<h5>List of circuits</h5>
<table>
    <tr>
        <th>Circuit</th>
        <th>Reference</th>
    </tr>
    {% for circuit in customer.circuits %}
    <tr>
        <td><a href="{{ circuit.circuit.get_absolute_url }}">{{circuit.circuit.Circuit}}</a></td>
        <td>{{circuit.circuit.Reference}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
