{% extends "base.html" %}
{% block base_content %}
{% include "telemator/database_version.html" %}

<h3>Customer: {{customer.Name}}</h3>
<table>
    <tr>
        <th>Name</th>
        <td>{{ customer.Name }}</td>
    </tr>
    <tr>
        <th>ID</th>
        <td>{{ customer.CustId }}</td>
    </tr>
    <tr>
        <th>Department</th>
        <td>{{ customer.Department }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ customer.Addr2 }}</td>
    </tr>
    <tr>
        <th>KIND</th>
        <td><a href="https://kind.cs.uninett.no/org/edit_org.html?id={{customer.CustId}};">Link</a> </td>
    </tr>
</table>

{% if customer.circuits %}
<h5>List of circuits</h5>
<table>
    <tr>
        <th>Circuit</th>
        <th>Reference</th>
    </tr>
    {% for circuit in customer.circuits %}
    <tr>
        <td><a href="{{ circuit.circuit.get_absolute_url }}">{{circuit.circuit.Circuit}}</a></td>
        <td>{{circuit.circuit.Reference}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}