{% extends "base.html" %}
{% block base_content %}
{% include "telemator/database_version.html" %}

<h3>Owner: {{owner.Name}}</h3>
<table>
    <tr>
        <th>Name</th>
        <td>{{ owner.Name }}</td>
    </tr>
    <tr>
        <th>ID</th>
        <td>{{ owner.Owner }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ owner.Type }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ owner.Email }}</td>
      </tr>
    <tr>
        <th>KIND</th>
        <td><a href="https://kind.uninett.no/soek.html?table=org&skjema=org&navn={{ owner.Name }}&navn_inc=1;">Link</a> </td>
    </tr>
</table>

{% if owner.cables %}
<h5>Cables owned</h5>
<table>
    <tr>
        <th>Cable</th>
        <th>Reference</th>
    </tr>
    {% for cable in owner.cables %}
    <tr>
        <td><a href="{{ cable.get_absolute_url }}">{{cable.Cable}}</a></td>
        <td>{{cable.reference}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if owner.circuits %}
<h5>Circuits owned</h5>
<table>
    <tr>
        <th>Circuit</th>
        <th>Reference</th>
    </tr>
    {% for circuit in owner.circuits %}
    <tr>
        <td><a href="{{ circuit.get_absolute_url }}">{{circuit.Circuit}}</a></td>
        <td>{{circuit.Reference}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
